/* CORPO */

body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3{
    font-family: Asap, sans-serif;
    color: #000000;
}

.botao{
    color:black;
    text-decoration: none;
    padding: 10px 30px;
    background-color: cornflowerblue;
    font-size: .9em;
    border-radius: 3px;

}

/* NAVEGACAO */


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191982;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Nunito, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%    /* responsivo comeca, ocupa 100% da largura na Plataforma que estiver exibindo*/

}

nav ul li{

    text-align: center;
    width: 100%;   
}

nav ul li a {

    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration:none; /* tirando o sublinhando*/
    color: #FFFFFF
}

/* CABECALHO*/

header{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-image: url("../img/vaccine1.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:right;
    color: black;
    text-align: center;
    padding: 40px;
}

header h1{
    color: black;

}

header p{
    margin-bottom: 2em; /*eh uma margem dinamica*/

}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color:cornflowerblue;
    color: #FFFFFF;
}

#home h2 {
    color: #FFFFFF;
}

#home p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#home .botao{

    background-color: #F1F1F1;
    color: #1c1c1c;
    font-size: .9em;
    border-radius: 3px;
     
}


/*SOBRE servicos*/

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;  
}

#sobre div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*SESSAO CONTATO */

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;

}

#contato h2{
    color: black   
}



}

/*SESSAO SAIBA MAIS */

#saibamais{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;

}

#saibamais h2{
    margin-bottom: 20px;   
}

#saibamais img{
    width:100%;
}


/*rodape*/

footer{
    text-align: center;
    padding: 10px;
    background-color: #191982;
    color: #FFFFFF;
}


footer a{
    text-decoration: none;
    color: #00ffff;
}

@media screen and (min-width: 768px){ /* Transforma o site em responsivo*/

    /*nav*/
    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: row;
        width:70%;
    }

    /*Cabecalho*/
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    /*HOME*/
    #home{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    
    /*SOBRE*/
    #sobre{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
   
    #sobre h2{

        text-align: center;
        width: 100%;
    }


    #sobre div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

     /*CONTATO*/
     #contato{
    
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;   
     }

     #contato h2, #contato p{
         width:100%;
     }

     /*SAIBAMAIS*/
    #saibamais{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #saibamais h2{
        width: 100%;
        text-align: center;
    }

    #saibamais img{
        width: 33%;
    }

}